.analytics__current-page {
  font-family: "roboto", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  margin: 40px auto 0 104px;
}


@media screen and (max-width: 768px) {
  .analytics__current-page {
    margin: 32px auto 0 40px;
  }
}

@media screen and (max-width: 390px) {
  .analytics__current-page {
    display: none;
  }
}