.serch__title {
  max-width: 608px;
  font-family: robotoslab;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  color: #FFFFFF;
  margin: 0 auto 32px 0;
}

@media screen and (max-width: 768px) {
  .serch__title {
    max-width: 385px;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 500px) {
  .serch__title {
    font-size: 36px;
    line-height: 40px;
  }
}