.header__project-name {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: robotoslab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0 auto 0 104px;
  outline: none;
}

@media screen and (max-width: 768px) {
  .header__project-name {
    margin: 0 auto 0 40px;
  }
}

@media screen and (max-width: 500px) {
  .header__project-name {
    font-size: 16px;
    margin: 0 auto 0 16px;
  }
}