.header__project-name {
  text-decoration:none;
  font-family: robotoslab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 30px auto 0 104px;
  outline: none;
}

@media screen and (max-width: 768px) {
	.header__project-name {
    margin: 22px auto 0 40px;
  }
}