.footer__copyright {
  font-family: roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
  margin: 33px auto 25px 104px;
}

@media screen and (max-width: 1024px) {
  .footer__copyright {
    margin-left: 40px;
  }
}