.serch-result__source {
  font-family: "robotoslab", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
  margin: auto auto 24px 24px;
}

@media screen and (max-width: 768px) {
  .serch-result__source {
    margin: auto auto 16px 16px;
  }
}