.header__link {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  font-family: roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  margin-left: 34px;
  padding-bottom: 23px;
}

.header__link:last-child {
  margin-right: 0;
}

.header__link:hover {
  border-bottom: 3px solid #FFFFFF;
}

.header__link.active {
  color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
}

@media screen and (max-width: 500px) {
  .header__link {
    font-size: 16px;
    padding-bottom: 13px;
    margin-left: 25px;
  }
  .header__link:last-child {
    margin-left: 11px;
  }
}