.history__card {
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 288px;
  background: #FFFFFF;
  border-radius: 16px;
  margin-right: 16px;
}

.history__card:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1024px) {
  .history__card {
    width: 336px;
    height: 242px;
    margin-right: 8px;
  }
  .history__card:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 390px) {
  .history__card {
    width: 288px;
    height: 264px;
  }
}