.tabel__date {
  vertical-align: bottom;
  width: 104px;
  font-family: "roboto", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 80px;
  color: #1A1B22;
  margin: 0;
}

@media screen and (max-width: 390px) {
  .tabel__date {
    width: 80px;
    line-height: 48px;
  }
}