.serch-result__news {
  /* text-overflow: ellipsis; */
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  max-width: 352px;
  margin: 16px auto 0 auto;
}

@media screen and (max-width: 768px) {
  .serch-result__news {
    max-width: 192px;
    -webkit-line-clamp: 3;
  }
}