.history__cardlist {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin: 64px 104px 0 104px;
}

@media screen and (max-width: 1024px) {
  .history__cardlist {
    margin: 40px 0 0 32px;
  }
}

@media screen and (max-width: 390px) {
  .history__cardlist {
    margin: 16px 0 0 16px;
  }
}