.footer__nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  max-width: 406px;
  margin: 30px auto 28px auto;
  padding: 0;
}

@media screen and (max-width: 664px) {
  .footer__nav {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .footer__nav {
    margin: 53px auto 0 16px;
  }
}