.serch__searchbar {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 610px;
  height: 64px;
  background-color: #ffffff;
  border-radius: 45px;
  display: flex;
  flex-direction: row;
  margin: 0 auto 80px auto;
}