.serch__searchbar {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 608px;
  height: 64px;
  background-color: #ffffff;
  border-radius: 45px;
  flex-direction: row;
  margin: 0 auto 80px auto;
}

@media screen and (max-width: 768px) {
	.serch__searchbar {
    max-width: 452px;
    height: 56px;
    margin-bottom: 48px;
  }
}