.technology__tech {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 153px;
  margin: 93px 20px 88px 20px;
}

.technology__tech:last-child {
  margin-right: auto;
}

.technology__tech:first-child {
  margin-left: 178px;
}

@media screen and (max-width: 1280px) {
  .technology__tech {
    margin: 0 32px 40px 32px;
  }

  .technology__tech:first-child {
    margin-left: 40px;
  }

  .technology__tech:last-child {
    margin-right: 40px;
  }
}

@media screen and (max-width: 390px) {
  .technology__tech {
    margin: 0 20px;
  }
  .technology__tech:first-child {
    margin-left: 20px;
  }

  .technology__tech:last-child {
    margin-right: 20px;
  }
}