.footer__social {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 30px 106px 30px auto;
  padding: 0;
}

@media screen and (max-width: 1024px) {
	.footer__social {
    margin-right: 22px;
  }
}

@media screen and (max-width: 500px) {
  .footer__social {
    margin: 65px 18px auto auto;
  }
}