.tabel__title {
  font-family: "robotoslab", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
  margin: 80px auto 0 104px;
}

@media screen and (max-width: 768px) {
  .tabel__title {
    margin: 40px auto 0 40px;
  }
}

@media screen and (max-width: 390px) {
  .tabel__title {
    font-size: 22px;
    max-width: 288px;
    margin: 24px auto 0 16px;
  }
}